%h2 Greetings Traveler!

%textarea{:id => "log", :readonly => "readonly"}
.button{:id => "btnInit"} Find my location
.button{:id => "btnNewEvent"} New Event
.button{:id => "btnNewQuery"} New Query

%script{:src => "./js/utilities.js"}
%script{:src => "./js/objects.js"}
%script{:src => "./js/jug.js"}
%script{:src => "./js/game.js"}