%h2 Greetings Traveler!

%textarea{:id => "log", :readonly => "readonly"}
%table{:width => 300}
  %tr
    %td
      .button{:id => "btnNewQuery", :width => 143} Sensor Sweep
    %td
      .button{:id => "btnNewEvent", :width => 143} Fire!
%table
  %tr
    %td
      %canvas{:id => "sensors", :width => 150}
    %td
      %canvas{:id => "weapons", :width => 150}


%script{:src => "./js/utilities.js"}
%script{:src => "./js/objects.js"}
%script{:src => "./js/jug.js"}
%script{:src => "./js/game.js"}